<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://us.123rf.com/450wm/pixelsaway/pixelsaway1204/pixelsaway120400046/13134748-recipes-word-white-chalk-handwriting-on-a-vintage-slate-blackboard-isolated-on-white.jpg?ver=6">
</div>
<ul>

  <li *ngFor = "let currentRecipe of recipes">
    <p></p>
    <hr />
    <h2>{{currentRecipe.name}}</h2>
    <h4>Ingredients</h4>
      <ol>
        <li *ngFor = "let ingredient of currentRecipe.ingredients">
          {{ingredient}}
        </li>
      </ol>
      <h4>Directions:</h4>
      <ol>
        <li *ngFor = "let direction of currentRecipe.directions">
          {{direction}}
        </li>
        <!-- <p></p>
        <hr /> -->
      </ol>
  </li>
  <hr />
</ul>
